/* Font linked */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* 
NB: I tried different type of selectors for practicing.
*/

/* Shared and Universal Style */
*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
button{
    cursor: pointer;
}

h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
}

h2{
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0%;
}

h3{
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0%;
}

h4{
    height: 24px;
    font-weight: 600;
    letter-spacing: 0%;
}

h5{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
}
p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    opacity: 0.7;
}

/* Navbar Style */

header nav{
    padding-top: 38px;
    padding-right: 168px;
    padding-left: 150px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    
}
header nav button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    text-align: center;
    padding: 17px 24px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
}

/* Banner styles */

.banner{
    background-image: url('./assets/Hero-bg.png');
    
}

.banner-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    text-align: center;
}

.banner div img{
    margin-top: 28px;
}

.banner div h1{
    margin-top: 32px;
}

.banner div p{
    margin-top: 24px;
    line-height: 26px;
}
.banner div a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    margin-top: 32px;
    margin-bottom: 44px;
    cursor: pointer;
    text-decoration: none;
}

/* Why web development Styles*/

.web-reason{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 74px 150px 0 150px;
    
}

.web-reason-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    padding: 80px 97px;
    
}
.web-reason-paragraph{
    text-align: center;
    max-width: 852px;
    line-height: 26px;
    margin-top: 24px;
}

.web-reason-card-container{
    margin-top: 48px;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.web-reason-card-a{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    border-radius: 16px;
    width: 1080px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.web-reason-card-b{
    display: flex;
    gap: 32px;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.card-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    max-width: 550px;
}

.card-paragraph{
    max-width: 468px;
    margin-top: 32px;
}

.card-btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    background-color: white;
}

/* Inspiration section style */
.inspiration{
    margin-top: 90px;
    text-align: center;
}
.inspiration h2{
    color: rgb(13, 19, 33);
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    
}
.inspiration p{
    margin-top: 24px;
    color: rgb(13, 19, 33);
    line-height: 26px;
}
.inspiration-video{
    padding: 32px;
    margin: 48px 148px 0 148px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

/* Current Target Style*/
.current-target-content{
    margin-top: 151px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.current-target-content>p{
    margin-top: 24px;
    line-height: 26px;
}

.current-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-top: 48px;
}
.current-card-a{
    text-align: start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.current-card-container h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}
.current-card-container p{
    margin-top: 8px;
    max-width: 400px;
    margin-bottom: 24px;
}
.current-card-container a{
    margin-top: 24px;
    color: rgb(13, 19, 33);
    text-decoration: underline;
    font-weight: 700;
}

.current-card-b{
    text-align: start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.current-card-c{
    text-align: start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* My next Target Section */

.next-target{
    margin-top: 111px;
    text-align: center;
}
.next-target>p{
    margin-top: 24px;
    margin-bottom: 48px;
}

.boxes{
    
    text-align: start;
    gap: 24px;
    display: flex;
    flex-direction: column;
    margin:0 150px;
    align-items: center;
}
.box-image-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 1520px;
    display: flex;
    gap: 24px;
    flex-direction: row;
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}



.box img{
    align-items: center;
    text-align: center;
    max-height: 108px;
}

.box-content h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.box-content p{
    color: rgb(13, 19, 33);
    line-height: 26px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

.box-content a{
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
    color: rgb(13, 19, 33);
    text-decoration: underline;
    font-weight: 700;
}

/* Support section styles */

.support{
    background-image: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),url(./assets/handshake.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: none;
    margin: 50px 150px 80px 150px;
    border-radius: 16px;
    mix-blend-mode: difference;
    
    
}

.support>div>h2{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.support>div>p{
    color: rgb(255, 255, 255);
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.support>div{
    text-align: center;
    padding: 64px 48px;
   
}

.support>div>div{

    margin-top: 39px;
}
.support>div>div>input[type="text"]{
    border-radius: 8px;
    width: 1044px;
    padding: 19px 20px;
    
    color: rgba(13, 19, 33, 0.4);

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    outline: none;
}
.support>div>div>input[type="submit"]{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    width: 120px;
    background: rgb(255, 255, 255);
    padding: 17px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}
.support>div>div>input[type="text"]:focus{
    color: rgb(13, 19, 33);
    font-weight: 600;
}

/* Footer Styling */

.footer{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer div{
    display: flex;
    gap: 24px;
}