/* Font linked */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared and Universal Style */
*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
}

h2{
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0%;
}

h3{
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0%;
}

h4{
    height: 24px;
    font-weight: 600;
    letter-spacing: 0%;
}

h5{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
}
p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    opacity: 0.7;
}

/* Navbar Style */

header nav{
    padding-top: 38px;
    padding-right: 168px;
    padding-left: 150px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}
header nav button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    text-align: center;
    padding: 17px 24px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
}

/* Banner styles */

.banner{
    background-image: url('/assets/Hero-bg.png');
    
}

.banner-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    text-align: center;
}

.banner div img{
    margin-top: 28px;
}

.banner div h1{
    margin-top: 32px;
}

.banner div p{
    margin-top: 24px;
    line-height: 26px;
}
.banner div button{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    margin-top: 32px;
    margin-bottom: 44px;
}